// UI settings
@import './theme/colors';

// components
@import './components/header';
@import './components/footer';
@import './components/content';
@import './components/card';

html {
  min-height: 100%;
  position: relative;
}

body {
  /* margin: 0; */
  margin-bottom: 160px;
  height: 100%;
}

a {
  text-decoration: none;
  color: $color-2;
}
