/* Card Captor Sakura colors */

$color-1 : #1d2f64;
$color-2 : #efe9d5;
$color-3 : #68798a;
$color-4 : #734754;
$color-5 : #a98549;
$color-6 : #bd8d81;
$color-7 : #dfc96f;
$color-8 : #3b8c65;
$color-9 : #3c499c;
$color-10 : #132b51;
$color-11: #eb2c83;